.gallery-parent{
    padding: 0 3% 2% 3%;
}

.gallery-title{
    margin: 0% 2% 2% 0;
    padding-top: 2%;
    font-size: 2em;
    font-family: rajdhanisemibold;
    filter:drop-shadow(1px 1px 1px #141e2746)
}

.row{
    height: 20vw;
    object-fit: cover;
    display:flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.row-short{
    height: 15vw;
    object-fit: cover;
    display:flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.g-img{
    height: 100%;
    margin-right: 1%;
    object-fit: cover;
    border-radius: 3px;
}

.img-fit{
    object-fit: contain;
}

.gallery-img-wide {
    width: 33%;
}

.gallery-img-med {
    width: 23%;
}

.gallery-img-thin {
    width: 19%;
}

.adjust-up{
    transform: translate(0, -22%);
}

.crop-top{
    margin-top: -5%;
}

.crop-bottom{
    margin-bottom: -2%;
}

.limit-height{
    height: 85%;
    padding-top: 1.5%;
    margin: 0 -6% 0 -7.1%;
}

@media (max-width:800px){
    .row{
        display: block;
        height: 100%;
    }
    .gallery-img-wide{
        width: 100%;
    }
    .gallery-img-med{
        width: 100%;
    }
    .gallery-img-thin{
        width: 100%;
    }
    .crop-bottom{
        margin-bottom: 0%;
    }
    .row-short{
        display: block;
        height: 100%;
    }
    .limit-height{
        margin: 0;
        padding-top: 0;
    }
}

