@font-face {
    font-family: 'remmedium';
    src: url('/Fonts/rem-variablefont_wght-webfont.woff2') format('woff2'),
         url('/Fonts/rem-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rajdhanisemibold';
    src: url('/Fonts/rajdhani-semibold-webfont.woff2') format('woff2'),
         url('/Fonts/rajdhani-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noto_sansregular';
    src: url('/Fonts/notosans-regular-webfont.woff2') format('woff2'),
         url('/Fonts/notosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: remmedium;
    background-image: linear-gradient(-100deg, #89bdc0, #5091d6); 
    color: #ffffff;
}

main {
    padding: 20px;
}

header {
    z-index: 2;
    position: relative;

    height: 20vw;
    background-image: url('/Images/art_header.png'); /* Replace 'your-image-path.jpg' with the path to your full-width image */
    background-size: cover;
    background-position: center;
    text-align: center;

    outline-style: none;
}

img{
    max-width: 100%;
}

body::-webkit-scrollbar {
    overflow: overlay;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track-piece{
    background: #89bdc0;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #141e27;
}

.nav-bar{
    z-index: 1;
    position: fixed;
    
    margin: 0;
    width: 100%; 
    font-size: 1vw;
    height: 3vw;

    display:flex;
    justify-content: space-between; 
    align-items: center;

    background-color: #141e27;
    color: #dff7ff;
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link{
    float: right;
}


.nav-a{
    display: block;
    padding: 18px;
    text-decoration: none;
    color: #dff7ff;
    /* background-color: red; */
}

.nav-a:hover {
    filter: drop-shadow(0 0 16px #dff7ff);
    background-color: #dff7ff;
    color: #141e27;
}

.nav-label{
    align-items: center;
    display: flex;  
    flex-grow: 1;
}

.nav-name{
    padding: 0.9%;
    text-decoration: none;
}

.nav-page-title{
    padding: 0.9%;
    text-decoration: none;
    color: #dff7ff91;
}


.title {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 1.4vw;
    transform: translate(0%, -50%);
    color: #dff7ff;
    filter:drop-shadow(2px 2px 2px #0000003d);
    line-height: 230%;
    font-family: noto_sansregular;
    text-align: left;

    outline-style: none;
}

.container{
    z-index: 0;
    position: relative;

    margin: 0 auto;
    margin-bottom: 3%;
    max-width: 70%;
    
    border-radius: 10px;

    background-color: #dff7ff67;
    
    outline-style: solid;
    outline-color: #dff7ff;
}

.page-blurb{
    z-index: 2;
    position: relative;

    padding: 1.5% 15% 1.5% 15%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.4vw;
    border-radius: 0;

    background-color:#141e27; 
    color: #dff7ff;
}

.gallery-parent{
    padding: 0 3% 2% 3%;
}

.gallery-title{
    margin: 0% 2% 2% 0;
    padding-top: 2%;
    font-size: 2em;
    font-family: rajdhanisemibold;
    filter:drop-shadow(1px 1px 1px #141e2746)
}

.outline{
    outline-style: solid;
    outline-width: 2px;
    outline-color: #90b5ca;
}

.footer{
    background-color:#141e27; 
    color: #dff7ff;

    height: 100px;
    filter:drop-shadow(0px -3px #dff7ff);
    padding: 0% 20% 0 20%;    

    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.footer-name{
    font-size: 1.4vw;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    
}

.footer-a{
    text-decoration: none;
    color: #dff7ff;
    margin: 0 4% 0% 4%;
    padding: 5% 12% 5% 12%;
    outline-width: 2px;
    outline-color:#dff7ff;
    outline-style: solid;
    border-radius: 45px;

    font-size: 1vw;
}

.footer-a:hover{
    color: #141e27;
    background-color: #dff7ff;
}


.limit-height{
    height: 85%;
    padding-top: 1.5%;
    margin: 0 -6% 0 -7.1%;
}

@media (max-width:800px){
    .container{
        max-width: 100%;
        border-radius: 0;
    }
    .page-blurb{
        font-size: 2vw;
    }
    .nav-bar{
        height: 10vw;
        justify-content: space-evenly;
    }
    .nav-label{
        display: none;
    }
    .nav-a{
        font-size: 2.5vw;
    }
    .row{
        display: block;
        height: 100%;
    }
    .footer-name{
        display: none;
    }
    .footer{
        display: block;
        padding-top: 2%;
        padding-right: 10%;
        padding-left: 10%;
        margin-top: -4%;
    }
    .footer-links{
        margin-top: 8%;
    }
    .footer-a{
        padding: 0;
        margin: 0;
        font-size: 110%;
        outline-style: none;
        text-decoration: underline;
    }
    .footer-a:hover{
        background-color: #00000000;
        color: rgb(44, 138, 245)
    }
    ::-webkit-scrollbar {
        width: 0px;
    }
}

